{% extends 'layout.twig' %}

{% block header %}Produtos{% endblock %}
{% block subheader %} Listagem{% endblock %}
{% block conteudo %}
        {% if produtos|length > 0 %}
            {% include 'produtos/modal/cadastrar.twig' %}
            <table id="table-produtos">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">
                        <span class="glyphicon glyphicon-plus"></span> Novo produto
                    </button>
                </th>
            </tr>
            </tfoot>
            </table>
        {% else %}
            Nenhum produto cadastrado no banco de dados!
        {% endif %}
{% endblock %}

{% block javascript %}
    <script src="/js/mask-money.js"></script>
    <script src="/js/produto-listagem.js"></script>
    <script src="/js/produto-cadastrar.js"></script>
    <script>
        $(document).on("focus", ".mask-money", function () {
            $(this).maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
        });
    </script>
{% endblock %}