{% extends 'modal/base.twig' %}

{% block title %}Cadastrar produto{% endblock %}
{% block content %}
<form class="form-horizontal" id="form-produto-cadastrar" method="post">
    <fieldset>
        <!-- Text input-->
        <div class="form-group">
            <div class="col-xs-12">
                <input id="nome" name="nome" type="text" placeholder="Ex: Computador" class="form-control input-md" required="">
                <span class="help-block">Nome do produto</span>
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <div class="col-xs-12">
                <textarea class="form-control" id="descricao" name="descricao" placeholder="Descrição"></textarea>
            </div>
        </div>

        <!-- Prepended text-->
        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon">R$</span>
                    <input id="valor" name="valor" class="form-control mask-money" placeholder="1,99" type="text" required="">
                </div>
                <p class="help-block">Valor do produto</p>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
{% block footer %}
<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
<button type="button" class="btn btn-primary" id="btn-produto-cadastrar">Cadastrar</button>
{% endblock  %}